html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.first_ele,
.mid_ele,
.last_ele {
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
}

.mid_ele {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first_ele {
  background-image: url('https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=');
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.last_ele {
  background-image: url('https://images.unsplash.com/photo-1694446838836-e0ccc5aa5e6e?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXRpZnVsJTIwdmlld3N8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
